---
layout: default
title: Tom Robertshaw | Ecommerce Consultant, specialising in technology and teams.
description: I'm an Ecommerce Consultant, experienced in managing teams and bridging the gap between business and technology
fullwidth: true
---

<section class="hero">
	<p class="hero-message">I'm an Ecommerce Consultant, experienced in managing teams and bridging the gap between business and technology</p>
	<a class="hero-button button" href="/projects">See my projects</a>
</section>

{% include recent-posts.html %}
{% include about-me.html %}
