---
layout: default
title: Tom Robertshaw | Co-founder at Meanbee and Hivemind, freelance Magento developer and tech consultant.
description: I'm a diligent eCommerce and Magento expert with a passion for solving problems through innovation
fullwidth: true
---

<section class="hero">
	<p class="hero-message">I'm a diligent eCommerce and Magento expert with a passion for solving problems through innovation</p>
	<a class="hero-button button" href="/projects">See my projects</a>
</section>

{% include recent-posts.html %}
{% include portfolio.html %}
