<section class="portfolio">
	<ul class="portfolio-list">
		<li class="portfolio-list-item">
			<img class="portfolio-list-item-logo logo-meanbee" alt="Meanbee Logo" src="/img/theme/meanbee_logo.svg" width="160px"/>
			<h3 class="portfolio-list-item-title">Meanbee</h3>
			<p class="portfolio-list-item-summary">Co-founder of enterprise ecommerce agency</p>
		</li>
		<li class="portfolio-list-item">
			<img class="portfolio-list-item-logo logo-hivemind" alt="Hivemind Research Logo" src="/img/theme/hivemind_logo.svg" width="70px" />
			<h3 class="portfolio-list-item-title">Hivemind</h3>
			<p class="portfolio-list-item-summary">Co-founder of web technology research company</p>
		</li>
		<li class="portfolio-list-item">
			<img class="portfolio-list-item-logo logo-magento" alt="Magento Logo" src="/img/theme/magento_logo.svg" width="58px" />
			<h3 class="portfolio-list-item-title">Consultant</h3>
			<p class="portfolio-list-item-summary">Advised companies on ecommerce, Magento, maching learning and managing technology products and teams.</p>
		</li>
	</ul>
<section>
