---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" type="image/png" sizes="32x32" href="/img/theme/favicon@2x.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/theme/favicon.png">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300italic,300,400italic|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <style>
            {% capture critical_css %}
                {% include critical.scss %}
            {% endcapture %}
            {{ critical_css | scssify }}
        </style>
        <link rel="preload" href="/css/styles.css" as="style" onload="this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="/css/styles.css"></noscript>
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-6428376-2', 'auto');
            ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        {% seo %}
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">

        <header role="banner" class="header">
            <div class="header-content">
                {% if page.url == "/" %}
                <h1>
                {% endif %}
                <a class="site-title" href="/">
                    <img src="/img/theme/tom_logo.svg" alt="Tom Robertshaw" width="366" height="29" />
                </a>
                {% if page.url == "/" %}
                </h1>
                {% endif %}

                <ul class="site-navigation">
                    <li class="site-navigation-item">
                        <a class="site-navigation-item-link" href="/blog/">Blog</a>
                    </li>
                    <li class="site-navigation-item">
                        <a class="site-navigation-item-link" href="/projects/">Projects</a>
                    </li>
                    <li class="site-navigation-item">
                        <a class="site-navigation-item-link" href="mailto:me@tomrobertshaw.net">Contact</a>
                    </li>
                </ul>
            </div>
        </header>

        <main role="main" class="main-container{% if page.fullwidth or layout.fullwidth %} full-width{% endif %}">
            {{ content }}
        </main>

        <footer role="contentinfo">
            <div class="footer-content">
                <ul class="contact">
                    <li class="contact-item">
                        <a href="http://twitter.com/bobbyshaw" target="_blank" class="contact-item-link logo-twitter">Bobbyshaw on Twitter</a>
                    </li>
                    <li class="contact-item">
                        <a href="http://www.linkedin.com/in/tomrobertshaw" target="_blank" class="contact-item-link logo-linkedin">Connect with Tom Robertshaw on LinkedIn</a>
                    </li>
                    <li class="contact-item">
                        <a href="/feed.xml" target="_blank" class="contact-item-link logo-rss">Subscribe to RSS feed"</a>
                    </li>
                    <li class="contact-item">
                        <a href="mailto:me@tomrobertshaw.net" class="contact-item-link logo-email">Email Tom Robertshaw</a>
                    </li>
                </ul>
            </div>
        </footer>
        <script src="/js/main.js" ></script>
        {% for script in page.js %}
        <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
    </body>
</html>
